body {
  margin: 0px;
  padding-bottom: 0px;
  background: -webkit-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* Standard syntax (must be last) */
}



.slider{

  padding: 10%;
}

h1{
  font-size: 3em;
}

h1, h2{
  font-family: 'Press Start 2P', sans-serif;
}



#title p {
  font-family: 'Press Start 2P', sans-serif;
}

#title{
   padding-top: 20em;
 min-height: 600px;
  text-align: center;
}

#intro{

  min-height: 400px;
  padding: 0% 25%;
}

#breathe{

  min-height: 500px;
}

#breatheText{
  float: left;
  width: 35%;
}


#breatheObject {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  float: left;
  margin-left: 20%;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #BA7891;
    border-radius: 100%;
  }

  10% {
    transform: scale(.3);
  }


  100% {
    transform: scale(1.0);
    background-color: #73B4E0;
  }
}

#garden{

  min-height: 600px;
}

#gardenText{
  float:right;
  width: 40%;
  padding-top: 6em;

}

#plantSection{
  float:right;
  width:35%;
  margin-right: 25%;
}

#meditate{

  min-height: 600px;
}

#meditateText{
  float:left;
  width: 35%;

}

#rockGardenSect{
  float:left;
  width: 35%;
  margin-left: 10%;
  padding-top: 2em;
}

#resources{

  min-height: 600px;
}

footer{
  text-align: center;
  min-height: 50px;
  background-color: #FFF;
  opacity: 0.5;
  padding: 2em;

}



.text{
  opacity: 0;
  font-family: 'Quicksand', sans-serif;
}

#rockGardenAnimate{
  display: none;

}

#resourceButtons{
  list-style: none;

}


#plantButton {
  display: block;
  text-align: center;
  margin: 3em 0em;
  padding: 1em;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
  height: 50px;
  width: 300px;
  border-radius: 15%;
}

#resourcesText{
  float: left;
  width: 33%;
}

#resourceButtons{
  float:left;
  width:40%;
  padding-left: 20%;
}

#resourceButtons li{
  display: block;
  text-align: center;
  margin: 3em 0em;
  padding: 1em;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
  height: 50px;
  width: 300px;
  border-radius: 15%;

}

@media (max-width: 768px) {
      /*tablet size*/
      .text{
        opacity: 1;

      }

      #title{
         padding-top: 15em;
       min-height: 400px;

      }

      #intro{

        min-height: 400px;
        padding: 0% 15%;
      }

      #breatheText{
        float: none;
        width: 100%;
      }

      #breatheObject {
        float:none;
        margin:auto;
        margin-top: 2em;
      }

      #rockGarden{
        display:none;
      }

      #rockGardenAnimate{
        display:block;
      }

      #gardenText{
        float:none;
        width:100%;
        padding-top: 0;
      }

      #plantSection{
        float:none;
        width:auto;
        padding-right: 0;
        margin: auto;
      }

      #meditateText{
        float:none;
        width: 100%;

      }

      #rockGardenSect{
        float:none;
        width: 100%;
        margin-left: 0%;
      }

      #resourcesText{
        float: none;
        width: 100%;
      }

      #resourceButtons{
        float:none;
        width:100%;
        padding-left: 0%;
      }

}

@media (max-width: 400px) {
      /*mobile size*/
      .text{
        opacity: 1;

      }
      #title{
         padding-top: 10em;

      }

      #intro{
        padding-top: 2em;
        padding-left: 10%;
        padding-right:10%;
      }



}
