body {
  margin: 0px;
  background: -webkit-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cffffd, #dae5ff, #f1cdff, #f7dcff, #ffcddd, #ffc0c0); /* Standard syntax (must be last) */
}


.slider{

  padding: 8em;
}

h1, h2{
  font-family: 'Press Start 2P', sans-serif;
}

#title p {
  font-family: 'Press Start 2P', sans-serif;
}

#title{
  padding-top: 25em;
  min-height: 800px;
  text-align: center;
}

#intro{

  min-height: 400px;
}

#breathe{

  min-height: 700px;
}


#breatheObject {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: purple;
    border-radius: 100%;
  }

  10% {
    transform: scale(.3);
  }


  100% {
    transform: scale(1.0);
    background-color: lightblue;
  }
}

#garden{

  min-height: 800px;
}

#meditate{

  min-height: 800px;
}

#resources{

  min-height: 600px;
}

footer{
text-align: center;
  min-height: 100px;
  background-color: #FFF;
  opacity: 0.5

}



.text{
  opacity: 0;
  font-family: 'Quicksand', sans-serif;
}

#rockGarden{
  width:400px;
  height:400px;
  background-color: #333;
}

#resourceButtons{
  list-style: none;

}


#plantButton {
  display: block;
  text-align: center;
  margin: 3em 0em;
  padding: 1em;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
  height: 50px;
  width: 300px;
  border-radius: 15%;
}

#resourceButtons li{
  display: block;
  text-align: center;
  margin: 3em 0em;
  padding: 1em;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
  height: 50px;
  width: 300px;
  border-radius: 15%;
}
